.image-container {
    overflow: hidden;
}

.image {
    object-fit: contain;
    display: block;
    height: 100%;
    width: 100%;
}

.caption {
    font: var(--image-font);
    color: var(--image-caption-color);
    font-size: var(--image-caption-font-size);
    margin-top: 1rem;
}