.teaserContainer {
  max-width: 100%;
  color: var(--teaser-text-color);
  position: relative;
  height: var(--teaser-height);
  width: 100%;
}

.heroImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contentContainer {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.teaserTextContainer {
  text-align: center;
  max-width: 64rem;
  width: 50%;
  margin: 20px;
}

.teaserParagraph {
  margin-top: 2em;
  margin-bottom: 2em;
}

.teaserPreTitle {
  color: var(--teaser-pre-title-color);
  font-size: var(--teaser-pre-title-font-size);
  font-weight: var(--teaser-pre-title-font-weight);
  text-align: center;
  text-transform: var(--teaser-pre-title-text-transform);
}

.teaserTitle {
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  margin-top: 0;
}

.teaserButton {
  background: var(--teaser-button-background);
  border-radius: var(--teaser-button-border-radius);
  display: inline;
  padding: var(--teaser-button-padding);
  border: var(--teaser-button-border);
  color: var(--teaser-button-color);
  margin: 0 1em 2em 0;
  text-decoration: none;
  font-family: var(--default-font);
  font-size: var(--default-font-size);
}

.teaserButton:hover {
  background: var(--teaser-button-hover-background);
  border: var(--teaser-button-hover-border);
}

.teaserButton + .teaserButton {
  background: var(--teaser-second-button-background);
  border: var(--teaser-second-button-border);
}

.teaserButton + .teaserButton:hover {
  background: var(--teaser-second-button-hover-background);
  border: var(--teaser-second-button-hover-border);
  color: var(--teaser-second-button-hover-color);
}
